.checkout-form .form-group {
    margin-bottom: 5px;
}
#payment-method-pane {}

/* Cart Pane Table */
.tbl-cart-pane {width:100%;}
.tbl-cart-pane .no-qty {color:#ccc; font-style:italic;}
.tbl-cart-pane thead th {background-color:#666; color:#fff;}
.tbl-cart-pane tbody {border-bottom:2px solid #bbb;}
.tbl-cart-pane tbody tr {border-bottom:1px solid #bbb;}


.info-transfer {background-image:url('sofortueberweisung.png'); background-repeat:no-repeat; padding-top:30px;}
.info-paypal {background-image:url('paypal-100px.png'); background-repeat:no-repeat; padding-top:30px;}


